<div class="bg-dark">
	<div class="flex sm:flex-row  py-12 px-60 gap-8 justify-center space-arround ">
		<div class="w-1/4 flex flex-col">
			<h1 class="uppercase pb-4 relative font-bold text-lg before:content-[''] before:absolute before:left-0 before:right-0 before:bottom-0 before:bg-gray-600 before:h-px after:content-[''] after:absolute after:left-0 after:w-12 after:bottom-0 after:h-1 after:bg-red-600">About us</h1>
			<div class="flex items-center md:mx-0 mt-8 mb-4 mx-auto flex-row">
				<i data-feather="play" class="text-red-600"></i>
				<h1 class="text-2xl font-bold">Streaming</h1>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis hic maiores maxime saepe! Dicta doloremque dolores dolorum eos et ex, ipsam magnam neque numquam odit tempore temporibus ullam vel, voluptatum.</p>
		</div>

		<div class="w-1/4 mx-10 px-10">
			<h1 class="uppercase font-bold text-lg relative pb-4 before:content-[''] before:absolute before:left-0 before:right-0 before:bottom-0 before:bg-gray-600 before:h-px after:content-[''] after:absolute after:left-0 after:w-12 after:bottom-0 after:h-1 after:bg-red-600">Information</h1>
			<ul class="">
				<li class="mt-4 h-2 w-2  border bg-dark-gray border-red-600 rounded-full hover:bg-red-600 mr-5">
					<a href="">
						About us
					</a>
				</li>

			</ul>
		</div>

		<div class="w-1/4">
			<h1 class="uppercase font-bold relative text-lg pb-4 before:content-[''] before:absolute before:left-0 before:right-0 before:bottom-0 before:bg-gray-600 before:h-px after:content-[''] after:absolute after:left-0 after:w-12 after:bottom-0 after:h-1 after:bg-red-600">Category</h1>
		</div>

		<div class="w-1/4">
			<h1 class="uppercase font-bold text-lg relative pb-4 before:content-[''] before:absolute before:left-0 before:right-0 before:bottom-0 before:bg-gray-600 before:h-px after:content-[''] after:absolute after:left-0 after:w-12 after:bottom-0 after:h-1 after:bg-red-600">Latest Posts</h1>
		</div>
	</div>
</div>
