<div class="bg-dark divide-y divide-dark-gray ml-10" id="footer">
	<div class="flex  lg:flex-row md:flex flex-col py-10 px-1 gap-8 justify-center space-arround sm:px-5 md:px-10">
		<div class="lg:w-1/4 flex flex-col md:w-full sm:w-full ">
			<h1 class="uppercase pb-4 relative font-bold text-lg before:content-[''] before:absolute before:left-0 before:right-0 before:bottom-0 before:bg-gray-600 before:h-px after:content-[''] after:absolute after:left-0 after:w-12 after:bottom-0 after:h-1 after:bg-red-600">About us</h1>
			<div class="flex items-center md:mx-0 mt-8 mb-4 mx-auto flex-row">
				<i data-feather="play" class="text-red-600"></i>
				<h1 class="text-2xl font-bold">Streaming</h1>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis hic maiores maxime saepe! Dicta doloremque dolores dolorum eos et ex, ipsam magnam neque numquam odit tempore temporibus ullam vel, voluptatum.</p>
		</div>

		<div class="lg:w-1/4 md:w-full sm:w-full">
			<h1 class="uppercase font-bold text-lg relative pb-4 before:content-[''] before:absolute before:left-0 before:right-0 before:bottom-0 before:bg-gray-600 before:h-px after:content-[''] after:absolute after:left-0 after:w-12 after:bottom-0 after:h-1 after:bg-red-600">Information</h1>
			<nav class="flex flex-col">
				<ul class="mt-5 divide-y divide-dark-gray">
					<li class="group flex flex-row mt-5">
						<i data-feather="circle" class="w-2 group-hover:fill-red-600 stroke-red-600"></i>
						<a href="" class="ml-5 absolute">
							About us
						</a>
					</li>
					<li class="group flex flex-row mt-2 pt-2">
						<i data-feather="circle" class="w-2 group-hover:fill-red-600 stroke-red-600"></i>
						<a href="" class="ml-5 absolute">
							Contact us
						</a>
					</li>
					<li class="group flex flex-row mt-2 pt-2">
						<i data-feather="circle" class="w-2 group-hover:fill-red-600 stroke-red-600"></i>
						<a href="" class="ml-5 absolute">
							Terms & conditions
						</a>
					</li>
					<li class="group flex flex-row mt-2 pt-2">
						<i data-feather="circle" class="w-2 group-hover:fill-red-600 stroke-red-600"></i>
						<a href="" class="ml-5 absolute">
							Privacy Policy
						</a>
					</li>
					<li class="group flex flex-row pt-2 mt-2">
						<i data-feather="circle" class="w-2 group-hover:fill-red-600 stroke-red-600"></i>
						<a href="" class="ml-5 absolute">
							Policy
						</a>
					</li>

				</ul>
			</nav>
		</div>

		<div class="lg:w-1/4 md:w-full sm:w-full">
			<h1 class="uppercase font-bold relative text-lg pb-4 before:content-[''] before:absolute before:left-0 before:right-0 before:bottom-0 before:bg-gray-600 before:h-px after:content-[''] after:absolute after:left-0 after:w-12 after:bottom-0 after:h-1 after:bg-red-600">Category</h1>
			<nav class="flex flex-col">
				<ul class="mt-5 divide-y divide-dark-gray">
					<li class="group flex flex-row pt-2 mt-2">
						<i data-feather="circle" class="w-2 group-hover:fill-red-600 stroke-red-600"></i>
						<a href="" class="ml-5 absolute">
							Videos
						</a>
					</li>
					<li class="group flex flex-row pt-2 mt-2">
						<i data-feather="circle" class="w-2 group-hover:fill-red-600 stroke-red-600"></i>
						<a href="" class="ml-5 absolute">
							Gaming
						</a>
					</li>
					<li class="group flex flex-row pt-2 mt-2">
						<i data-feather="circle" class="w-2 group-hover:fill-red-600 stroke-red-600"></i>
						<a href="" class="ml-5 absolute">
							Travel
						</a>
					</li>
					<li class="group flex flex-row pt-2 mt-2">
						<i data-feather="circle" class="w-2 group-hover:fill-red-600 stroke-red-600"></i>
						<a href="" class="ml-5 absolute">
							Music
						</a>
					</li>
					<li class="group flex flex-row pt-2 mt-2">
						<i data-feather="circle" class="w-2 group-hover:fill-red-600 stroke-red-600"></i>
						<a href="" class="ml-5 absolute">
							Sports
						</a>
					</li>

				</ul>
			</div>

			<div class="w-full lg:w-1/4">
				<h1 class="uppercase font-bold text-lg relative pb-4 before:content-[''] before:absolute before:left-0 before:right-0 before:bottom-0 before:bg-gray-600 before:h-px after:content-[''] after:absolute after:left-0 after:w-12 after:bottom-0 after:h-1 after:bg-red-600">Latest Posts</h1>
				<div class="flex flex-col ">
					<div class="flex flex-row">
						<div class="group mt-8 overflow-hidden w-60  h-24 mr-5 rounded-md cursor-pointed  ">
							<img src="https://streamtube.marstheme.com/wp-content/uploads/2021/08/blog-8.jpg" class="rounded-md ease-in-out duration-500 hover:scale-110"/>
						</div>
						<div class="flex flex-col pt-7 ">
							<a href="" class=" ">Most funny sports moments have you never seen</a>
							<span class="flex flex-row ">
								<i data-feather="eye" class="w-4 stroke-slate-600 mr-4"></i>
								<p class="text-slate-600">118 views
								</p>
							</span>
						</div>
					</div>
					<div class="flex flex-row">
						<div class="mt-8 overflow-hidden w-60  mr-5 rounded-md">
							<img src="https://streamtube.marstheme.com/wp-content/uploads/2021/08/blog-7.jpg" class="rounded-md ease-in-out duration-500 hover:scale-110 "/>
						</div>
						<div class="flex flex-col pt-7 ">
							<a href="" class=" ">How to create simple and effective product</a>
							<span class="flex flex-row ">
								<i data-feather="eye" class="w-4 stroke-slate-600 mr-4"></i>
								<p class="text-slate-600">118 views
								</p>
							</span>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="flex justify-center pt-5">
			<div class="flex flex-col">
				<h1 class="uppercase font-bold text-center">CONNECT WITH US</h1>
				<div class="flex flex-row mt-5">
					<span class=" rounded-full border-1 mr-3 w-12 h-12 bg-red-600 cursor-pointer">
						<i data-feather="youtube" class="stroke-white mt-3 ml-3"></i>
					</span>
					<span class="mx-3 rounded-full border-1 mr-3 w-12 h-12 bg-blue-600 cursor-pointer ">
						<i data-feather="facebook" class="stroke-white ml-3 mt-3"></i>
					</span>
					<span class=" mx-3 rounded-full border-1  w-12 h-12 bg-blue-600 cursor-pointer">
						<i data-feather="linkedin" class=" ml-3 mt-3"></i>
					</span>
					<span class="mx-2 rounded-full border-2  w-12 h-12 bg-black cursor-pointer">
						<i data-feather="github" class="stroke-white ml-2.5 mt-3 fill-white relative"></i>
					</span>
				</div>
			</div>
		</div>
