<div class="flex flex-row">

	<div class="flex md:flex-row flex-col w-full md:h-450 ml-5">
		<div class="md:w-1/2 h-450 w-full">
			<div class="md:h-full overflow-hidden h-450 cursor-pointer relative group">
				<div class="absolute top-0 left-0 right-0 bottom-0 items-center justify-center flex flex-col group-hover:bg-dark-gradient bg-transparent duration-300 z-10">
					<i data-feather="play" class="fill-white stroke-white hidden group-hover:flex w-24 h-24"></i>
				</div>
				<div style="background: rgba(0,0,0,0.8)" class="absolute px-2 py-1 rounded top-2 z-10 text-xs font-bold text-white right-10">
					<p class="tracking-widest">00:15</p>
				</div>
				<div class="absolute z-10 left-4 bottom-10 text-white">
					<div class="px-3 py-0.5 inline-block border border-default" style="background: #111">
						<p class="font-bold tracking-widest text-sm text-white uppercase">Gaming</p>
					</div>
					<h1 class="mt-2 text-3xl font-extrabold">Gaming streaming le baba</h1>
					<div class="flex mt-2 gap-4 flex-row ">
						<div class="flex items-center flex-row gap-1">
							<i data-feather="user" class="w-3 stroke-2"></i>
							<p class="text-sm">Tsiory</p>
						</div>
						<div class="flex items-center flex-row gap-1">
							<i data-feather="eye" class="w-3 stroke-2"></i>
							<p class="text-sm">304 views</p>
						</div>
						<div class="flex items-center flex-row gap-2">
							<i data-feather="message-circle" class="w-4 stroke-4"></i>
							<p class="text-sm">comments</p>
						</div>
					</div>
				</div>
				<div style="background:rgba(0,0,0,.8)" class="absolute z-10 py-0.5 rounded px-2 flex flex-row bottom-5 items-center gap-1 right-6 text-white font-bold">
					<div class="w-2 h-2 bg-red-600 rounded-full"></div>
					<p class="text-sm">Live chat</p>
				</div>
				<div class="h-full w-auto bg-cover bg-center group-hover:scale-110 duration-500" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url(https://streamtube.marstheme.com/wp-content/uploads/2021/08/post2.jpg)"></div>
			</div>
		</div>
		<div class="flex flex-col md:w-1/2 md:h-full h-450 w-full">
			<div class="h-1/2 relative overflow-hidden cursor-pointer group">
				<div class="absolute top-0 left-0 right-0 bottom-0 items-center justify-center flex flex-col group-hover:bg-dark-gradient bg-transparent duration-300 z-10">
					<i data-feather="play" class="fill-white stroke-white hidden group-hover:flex w-24 h-24"></i>
				</div>
				<div style="background: rgba(0,0,0,0.8)" class="absolute px-2 py-1 z-10 rounded top-2 text-xs font-bold text-white right-10">
					<p class="tracking-widest">00:15</p>
				</div>
				<div class="absolute left-4 z-10 bottom-10 text-white">
					<div class="px-3 py-0.5 inline-block border border-default" style="background: #111">
						<p class="font-bold tracking-widest text-sm text-white uppercase">Gaming</p>
					</div>
					<h1 class="mt-2 text-3xl truncate font-extrabold">Gaming streaming le baba</h1>
					<div class="flex mt-2 gap-4 flex-row ">
						<div class="flex items-center flex-row gap-1">
							<i data-feather="user" class="w-3 stroke-2"></i>
							<p class="text-sm">Tsiory</p>
						</div>
						<div class="flex items-center flex-row gap-1">
							<i data-feather="eye" class="w-3 stroke-2"></i>
							<p class="text-sm">304 views</p>
						</div>
						<div class="flex items-center flex-row gap-2">
							<i data-feather="message-circle" class="w-4 stroke-4"></i>
							<p class="text-sm">comments</p>
						</div>
					</div>
				</div>
				<div style="background:rgba(0,0,0,.8)" class="absolute z-10 py-0.5 rounded px-2 flex flex-row bottom-5 items-center gap-1 right-6 text-white font-bold">
					<div class="w-2 h-2 bg-red-600 rounded-full"></div>
					<p class="text-sm">Live chat</p>
				</div>
				<div class="bg-cover bg-center group-hover:scale-110 duration-500 h-full" style="background-image: url(https://streamtube.marstheme.com/wp-content/uploads/2021/08/music-12.jpg);"></div>
			</div>
			<div class="h-1/2 flex flex-row">
				<div class="h-full relative w-1/2">
					<div style="background: rgba(0,0,0,0.8)" class="absolute px-2 py-1 rounded top-2 text-xs font-bold text-white right-10">
						<p class="tracking-widest">00:15</p>
					</div>
					<div class="absolute left-4 bottom-10 text-white">
						<div class="px-3 py-0.5 inline-block border border-default" style="background: #111">
							<p class="font-bold tracking-widest text-sm text-white uppercase">Gaming</p>
						</div>
						<h1 class="mt-2 text-xl font-extrabold">Gaming streaming le baba</h1>
						<div class="flex mt-2 gap-4 flex-row ">
							<div class="flex items-center flex-row gap-1">
								<i data-feather="user" class="w-3 stroke-2"></i>
								<p class="text-sm">Tsiory</p>
							</div>
							<div class="flex items-center flex-row gap-1">
								<i data-feather="eye" class="w-3 stroke-2"></i>
								<p class="text-sm">304 views</p>
							</div>
							<div class="flex items-center flex-row gap-2">
								<i data-feather="message-circle" class="w-4 stroke-4"></i>
								<p class="text-sm">comments</p>
							</div>
						</div>
					</div>
					<div style="background:rgba(0,0,0,.8)" class="absolute py-0.5 rounded px-2 flex flex-row bottom-5 items-center gap-1 right-6 text-white font-bold">
						<div class="w-2 h-2 bg-red-600 rounded-full"></div>
						<p class="text-sm">Live chat</p>
					</div>
					<div class="bg-cover bg-center h-full" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url(https://streamtube.marstheme.com/wp-content/uploads/2021/08/music-2.jpg);"></div>
				</div>
				<div class="h-full w-1/2 relative">
					<div style="background: rgba(0,0,0,0.8)" class="absolute px-2 py-1 rounded top-2 text-xs font-bold text-white right-6">
						<p class="tracking-widest">00:15</p>
					</div>
					<div class="absolute left-4 bottom-10 text-white">
						<div class="px-3 py-0.5 inline-block border border-default" style="background: #111">
							<p class="font-bold tracking-widest text-sm text-white uppercase">Gaming</p>
						</div>
						<h1 class="mt-2 text-xl font-extrabold">Gaming streaming le baba</h1>
						<div class="flex mt-2 gap-4 flex-row ">
							<div class="flex items-center flex-row gap-1">
								<i data-feather="user" class="w-3 stroke-2"></i>
								<p class="text-sm">Sitraka</p>
							</div>
							<div class="flex items-center flex-row gap-1">
								<i data-feather="eye" class="w-3 stroke-2"></i>
								<p class="text-sm">304 views</p>
							</div>
							<div class="flex items-center flex-row gap-2">
								<i data-feather="message-circle" class="w-4 stroke-4"></i>
								<p class="text-sm">comments</p>
							</div>
						</div>
					</div>
					<div style="background:rgba(0,0,0,.8)" class="absolute py-0.5 rounded px-2 flex flex-row bottom-5 items-center gap-1 right-6 text-white font-bold">
						<div class="w-2 h-2 bg-red-600 rounded-full"></div>
						<p class="text-sm">Live chat</p>
					</div>
					<div class="bg-cover bg-center h-full" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url(https://streamtube.marstheme.com/wp-content/uploads/2021/08/post3.jpg);"></div>
				</div>
			</div>
		</div>
	</div>
</div>
