{% extends 'base.html.twig' %}
{% block title "Streaming|Acceuil" %}
{% block body %}
    <div>
        {% include "home/header.html.twig" %}
        <div class="mt-14">
            <div class="divide-y divide-gray-600">
                <h1 class="uppercase font-extrabold text-xl">Top playlists</h1>
                <div class="grid sm:grid-cols-2 grid-columns-1 lg:grid-cols-4 lg:grid-rows-1 gap-8 sm:gap-2 lg:gap-8 mx-4 pt-8">
                    <div>
                        <div class="rounded-md relative overflow-hidden">
                            <div class="absolute right-0 top-0 bottom-0 w-2/6 bg-dark-light rounded-left-md">
                                <div class="flex gap-2 items-center justify-center h-full align-center flex-col">
                                    <p class="text-2xl font-medium">13</p>
                                    <i data-feather="list" class="stroke-white stroke-4 w-6 h-6"></i>
                                </div>
                            </div>
                            <img class="h-56 w-full" src="https://streamtube.marstheme.com/wp-content/uploads/2021/08/travel-1.jpg" alt="">
                        </div>
                        <div class="flex flex-col mt-4">
                            <h1 class="text-lg font-bold">Travel playlist</h1>
                            <div class="flex mt-2 gap-4 flex-row text-gray-500">
                                <div class="flex items-center flex-row gap-1">
                                    <i data-feather="user" class="w-3 stroke-2"></i>
                                    <p class="text-sm">Tsiory</p>
                                </div>
                                <div class="flex items-center flex-row gap-1">
                                    <div class="w-2 h-2 bg-gray-500 rounded-full"></div>
                                    <i data-feather="globe" class="w-3 stroke-2"></i>
                                    <p class="text-sm">Public</p>
                                </div>
                                <div class="flex items-center flex-row gap-2">
                                    <div class="w-2 h-2 bg-gray-500 rounded-full"></div>
                                    <p class="text-sm">13 videos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="rounded-md relative overflow-hidden">
                            <div class="absolute right-0 top-0 bottom-0 w-2/6 bg-dark-light rounded-left-md">
                                <div class="flex gap-2 items-center justify-center h-full align-center flex-col">
                                    <p class="text-2xl font-medium">13</p>
                                    <i data-feather="list" class="stroke-white stroke-4 w-6 h-6"></i>
                                </div>
                            </div>
                            <img class="h-56 w-full" src="https://streamtube.marstheme.com/wp-content/uploads/2021/08/travel-1.jpg" alt="">
                        </div>
                        <div class="flex flex-col mt-4">
                            <h1 class="text-lg font-bold">Travel playlist</h1>
                            <div class="flex mt-2 gap-4 flex-row text-gray-500">
                                <div class="flex items-center flex-row gap-1">
                                    <i data-feather="user" class="w-3 stroke-2"></i>
                                    <p class="text-sm">Tsiory</p>
                                </div>
                                <div class="flex items-center flex-row gap-1">
                                    <div class="w-2 h-2 bg-gray-500 rounded-full"></div>
                                    <i data-feather="globe" class="w-3 stroke-2"></i>
                                    <p class="text-sm">Public</p>
                                </div>
                                <div class="flex items-center flex-row gap-2">
                                    <div class="w-2 h-2 bg-gray-500 rounded-full"></div>
                                    <p class="text-sm">13 videos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="rounded-md relative overflow-hidden">
                            <div class="absolute right-0 top-0 bottom-0 w-2/6 bg-dark-light rounded-left-md">
                                <div class="flex gap-2 items-center justify-center h-full align-center flex-col">
                                    <p class="text-2xl font-medium">13</p>
                                    <i data-feather="list" class="stroke-white stroke-4 w-6 h-6"></i>
                                </div>
                            </div>
                            <img class="h-56 w-full" src="https://streamtube.marstheme.com/wp-content/uploads/2021/08/travel-1.jpg" alt="">
                        </div>
                        <div class="flex flex-col mt-4">
                            <h1 class="text-lg font-bold">Travel playlist</h1>
                            <div class="flex mt-2 gap-4 flex-row text-gray-500">
                                <div class="flex items-center flex-row gap-1">
                                    <i data-feather="user" class="w-3 stroke-2"></i>
                                    <p class="text-sm">Tsiory</p>
                                </div>
                                <div class="flex items-center flex-row gap-1">
                                    <div class="w-2 h-2 bg-gray-500 rounded-full"></div>
                                    <i data-feather="globe" class="w-3 stroke-2"></i>
                                    <p class="text-sm">Public</p>
                                </div>
                                <div class="flex items-center flex-row gap-2">
                                    <div class="w-2 h-2 bg-gray-500 rounded-full"></div>
                                    <p class="text-sm">13 videos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="rounded-md relative overflow-hidden">
                            <div class="absolute right-0 top-0 bottom-0 w-2/6 bg-dark-light rounded-left-md">
                                <div class="flex gap-2 items-center justify-center h-full align-center flex-col">
                                    <p class="text-2xl font-medium">13</p>
                                    <i data-feather="list" class="stroke-white stroke-4 w-6 h-6"></i>
                                </div>
                            </div>
                            <img class="h-56 w-full" src="https://streamtube.marstheme.com/wp-content/uploads/2021/08/travel-1.jpg" alt="">
                        </div>
                        <div class="flex flex-col mt-4">
                            <h1 class="text-lg font-bold">Travel playlist</h1>
                            <div class="flex mt-2 gap-4 flex-row text-gray-500">
                                <div class="flex items-center flex-row gap-1">
                                    <i data-feather="user" class="w-3 stroke-2"></i>
                                    <p class="text-sm">Tsiory</p>
                                </div>
                                <div class="flex items-center flex-row gap-1">
                                    <div class="w-2 h-2 bg-gray-500 rounded-full"></div>
                                    <i data-feather="globe" class="w-3 stroke-2"></i>
                                    <p class="text-sm">Public</p>
                                </div>
                                <div class="flex items-center flex-row gap-2">
                                    <div class="w-2 h-2 bg-gray-500 rounded-full"></div>
                                    <p class="text-sm">13 videos</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}