{% extends 'base.html.twig' %}
{% block title "Streaming|Acceuil" %}
{% block body %}
    <div class="container">
        <h1>Bienvenue sur Streaming 
    <i data-feather="activity"></i></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa dignissimos facilis inventore laboriosam maiores nihil perspiciatis sit sunt vero! Ad cum dolore eaque harum hic neque, numquam veniam voluptatem!</p>
    </div>
{% endblock %}