{% extends 'base.html.twig' %}

{% block title %}Streaming | Login{% endblock %}

{% block body %}

<div class="container">
    <div class="w-full shadow z-1">
       <div class="w-full flex justify-center items-center text-center text-4xl py-12 text-white font-bold mt-6 mb-6">Membership Checkout</div>
    </div>
</div>
<hr class="w-full border border-gray-800">
<div class="text-lg font-sans max-w-screen-lg w-full mx-auto bg-[#F5F5F5]">
    <div class="mt-6 w-full shadow-lg border border-gray-800 bg-dark">
        <div class="mx-10">
            <div class="mt-10 py-2">
                <h3 class="font-semibold text-2xl">Membership Level <span class="text-lg font-semibold mx-2">change</span></h3>
                <p class="mt-6">You have selected the <span class="font-semibold">Free</span> membership level </p>
                <div class="mt-6">
                    <div class="flex flex-row">
                        <i data-feather="x-circle" class="w-5 mx-3 stroke-3 border-5 border-red-600 text-red-600"></i>
                        <span class="">Premium Support</span>
                    </div>
                    <div class="flex flex-row mt-2">
                        <i data-feather="x-circle" class="w-5 mx-3 stroke-3 border-5 border-red-600 text-red-600"></i>
                        <span class="">No Adversitingt</span>
                    </div>
                    <div class="flex flex-row mt-2">
                        <i data-feather="x-circle" class="w-5 mx-3 stroke-3 border-5 border-red-600 text-red-600"></i>
                        <span class="">VIP Member Level</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 mx-10 p-8 flex justify-center items-center border rounded-sm bg-transparent mr-10">
            <h1 class="font-color-dark">The price for membership is
                <p class="text-center text-3xl text-[#11ccf2] font-bold mt-3">$0.00</p>
                <p class="text-center mt-3">now</p> 
            </h1>
        </div>
        <hr class="mx-10 mt-6 border border-gray-800">
        <div class="mx-10 mt-8">
            <h3 class="font-semibold text-2xl">Account Information <span class="text-lg mx-1 italic"> Already have an account? </span> <span class="text-lg">Log in here</span></h3>
        </div>
        <div class="mx-10 mt-8">
            <label for="username" class="block text-xl font-semibold mb-2">Username</label>
            <input type="text" id="username" class="border-2 border-gray-800 w-full text-base px-2 py-3 focus:outline-none focus:ring-0 focus:border-dark bg-dark-transparent rounded-md">
        </div>
        <div class="mx-10 mt-6">
            <label for="password" class="block text-xl font-semibold mb-2">Password</label>
            <input type="password" id="Password" class="border-2 border-gray-800 w-full text-base px-2 py-3 focus:outline-none focus:ring-0 focus:border-dark bg-dark-transparent rounded-md">
        </div>
        <div class="mx-10 mt-6">
            <label for="ConfirmPassword" class="block text-xl font-semibold mb-2">Confirm Password</label>
            <input type="password" id="ConfirmPass" class="border-2 border-gray-800 w-full text-base px-2 py-3 focus:outline-none focus:ring-0 focus:border-dark bg-dark-transparent rounded-b-md">
        </div>
        <div class="mx-10 mt-6">
            <label for="EmailAddress" class="block text-xl font-semibold mb-2">Email Address</label>
            <input type="Email" id="ConfirmPass" class="border-2 border-gray-800 w-full text-base px-2 py-3 focus:outline-none focus:ring-0 focus:border-dark bg-dark-transparent rounded-md">
        </div>
        <div class="mx-10 mt-6">
            <label for="ConfirmEmailAddress" class="block text-xl font-semibold mb-2">Confirm Email Address</label>
            <input type="Email" id="ConfirmPass" class="border-2 border-gray-800 w-full text-base px-2 py-3 focus:outline-none focus:ring-0 focus:border-dark bg-dark-transparent rounded-md">
        </div>
        <div class="mx-10 mt-6">
            <input type="text" id="Message" class="border-2 border-gray-800 w-full text-base px-2 py-3 focus:outline-none focus:ring-0 focus:border-dark bg-dark rounded-md" placeholder="Please complete all required fields.">
        </div>
        <div class="flex justify-center items-center mt-4 mb-8 "> 
            <button type="submit" class="border-5 bg-red-600 rounded-3xl text-white py-2 px-14">Submit and Confirm >>
        </div>
    </div>
</div>
{% endblock %}
